<div style="display: flex; justify-content: space-between">
    <div>

        <button type="button" onclick="pa_publish({{ entry.id }}, {{ entry.draftId ?? 'null' }})" class="btn submit">
            Publish
        </button>
    </div>
</div>

<div id="pa-notice" style="display: none">
    Hier ist Test.
</div>
<div id="pa-error" style="display: none">
    Hier ist Test.
</div>
