<div class="pa-actions">
    {% for form in sectionConfig.getFormTemplates() %}
        <div class="pa-form">
            {% include form %}
        </div>
    {% endfor %}

</div>

<div id="pa-notice" style="display: none"></div>
<div id="pa-error" style="display: none"></div>
