<span class="{{ entry.dueDate and entry.dueDate < now  ? 'co-warning' }}">
   {% if entry.workflowStatus %}
       {{ entry.workflowStatus.label }}
   {% endif %}

    {% if entry.assignedTo %}
        {% set user = entry.assignedTo.one %}
        {% if user %}
            - {{ user.name }}
        {% endif %}
    {% endif %}

    {% if entry.dueDate %}
        - {{ entry.dueDate|date('short') }}
    {% endif %}
</span>